/%p#notice= notice
%br
%a.btn.btn-lg.btn-warning{:href=>init_roll_roll_call_path(self)}
  .icon.icon-publish
    Initiate Today's Backup Check

%hr
%h5 Recent Backup Checks
%table.table.table-inverse
  %thead
    %tr
      %th 
        = sortable "name"
      %th 
        Date
  %tbody
    - @roll_calls.each do |roll_call|
      %tr
        %td
          %a.icon.icon-aie{:href=>roll_call_path(roll_call)}
            .icon.icon-list
              =roll_call.name
        %td= roll_call.created_at.strftime("%a | %b %d %Y")

.pull-right
  = will_paginate @roll_calls
