/%p#notice= notice
.text-center
  %a.btn.btn-lg.btn-warning{:href=>init_roll_roll_call_path(self)}
    Initiate Today's Backup Check
%hr
%h5 Recent Backup Checks
%table.table.table-inverse
  %tbody
    - @roll_calls.each do |roll_call|
      %tr
        %td
          %a.icon.icon-aie{:href=>roll_call_path(roll_call)}
            .icon.icon-list
              =roll_call.name
        %td= roll_call.created_at.strftime("%a | %b %d %Y")


        /%td= link_to 'Show', roll_call
        /%td= link_to 'Edit', edit_roll_call_path(roll_call)
        /%td= link_to 'Destroy', roll_call, method: :delete, data: { confirm: 'Are you sure?' }
%br/
/= link_to 'New Roll call', new_roll_call_path

