%p#notice= notice
%h4
  =@roll_call.name
%table
  %thead
    %tr
      %th Name
      %th Client
      %th Notes
      %th Status
      %th Status Check
      %th Last Updated
  %tbody
    - @roll_call.rolls.each do |r|
      %tr
        %td
          =r.server.name
        %td
          Client
          /= render 'form',  r: r
        %td
          =r.notes
        
        %td
          =r.status
        %td 
          = link_to 'check', check_server_roll_path(r)
          = link_to 'uncheck', uncheck_server_roll_path(r)
        %td 
          =time_ago_in_words(r.updated_at)
          ago



|
= link_to 'Back to all my server checks', roll_calls_path
