/%p#notice= notice
%br
.pull-right
  .dropdown
    %span#dropdownMenu1.icon.icon-cog.header-btn{"aria-expanded" => "false", "aria-haspopup" => "false", "data-toggle" => "dropdown", :type => "button"}
    .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenu1"}
      %a.dropdown-item.icon.icon-export{:href=>roll_call_path(@roll_call,format: "csv")}
        CSV
      %span.dropdown-item.icon.icon-new{"data-target" => ".bd-example-modal-sm", "data-toggle" => "modal", :type => "button"} 
        Delete
%h4
  =@roll_call.name
%br
%table.table.table-sm
  %thead
    %tr
      %th 
        Client
      %th Server
      /%th Status
      %th#rc_options Action
      %th Notes
      %th.right Last Updated
  %tbody
    - @roll_call.rolls.each do |r|
      =render 'roll', :r => r

.modal.fade.bd-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Are you sure?
      .modal-body
        %h6 This is a destructive operation.
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
        = link_to @roll_call, method: :delete do
          %button.btn.btn-danger
            Delete!
      
:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });




