= simple_form_for(@server) do |f|
  - if @server.errors.any?
    .text-danger#error_explanation
      /%h4
      /  = pluralize(@server.errors.count, "error")
      /  prohibited this server from being saved:
      %h4
        Opps!
        - @server.errors.full_messages.each do |message|
          = message
        %span.icon.icon-emoji-sad
  .form-group.row
    %label.col-sm-1.form-control-label{:for => ""} Name
    .col-sm-5
      = f.input_field :name, {:class=>"form-control"}
  /.form-group.row
  /  %label.col-sm-1.form-control-label{:for => ""} Description
  /  .col-sm-5
  /    = f.text_area :description, {:class=>"form-control"}
  = f.button :submit, :class=>"btn btn-info"