/%p#notice= notice
%br
%h5 
  %span
    %a{:href=>root_path}
      Home
  %span /
  %span
    Here's all your servers! 
  %span.icon.icon-help-with-circle{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Tip: Click on server name to edit. Click on client name if you want to add more servers to that client. ", :type => "button"}

%br
%table.table.table-sm
  %tbody
    - Client.all.each do |c|
      %thead.thead-inverse
        %tr
          %th{:colspan=>"3"}
            %span.icon.icon-home
            %a{:href=>client_path(c)}
              = c.name
      - c.servers.each do |server|
        %tbody
          %tr
            %td
              %span.icon.icon-laptop
              %a{:href=> edit_server_path(server)}
                = server.name
            %td
              = server.description
            %td.right
              %span.icon.icon-trash{"data-target" => ".bd-example-modal-sm", "data-toggle" => "modal", :type => "button"} 
            .modal.fade.bd-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-sm
                .modal-content
                  .modal-header
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} &times;
                    %h4#myModalLabel.modal-title Are you sure?
                  .modal-body
                    %h6 This is a destructive operation.
                  .modal-footer
                    %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
                    = link_to server, method: :delete do
                      %button.btn.btn-danger
                        Delete!

:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

