= simple_form_for(@client) do |f|
  - if @client.errors.any?
    .text-danger#error_explanation
      %h4
        Opps!
        - @client.errors.full_messages.each do |message|
          = message
        %span.icon.icon-emoji-sad
      %br
  .form-group.row
    %label.col-sm-1.form-control-label Name
    .col-sm-3
      =f.input_field :name, {:class=>"form-control"}
  /=f.text_field :description
  = f.button :submit, :class=>"btn btn-info"