= simple_form_for (Client.new) do |f|
  = f.error_notification
  .form-group
    = f.input :name,:required=>true, label: false, placeholder: "Name"
    /= f.text_area :description, label: false, placeholder: "Description", :class=>"form-control"
    = f.button :submit, :class => "btn btn-info-outline"

