%p#notice= notice
.pull-right
  
%h5 
  %span
    %a{:href=>root_path}
      Home
  %span  / Clients
  &nbsp;&nbsp;
  %button.btn.btn-lg.btn-info-outline.new-client-popover{"data-content" => "#{render 'mini_client_form'}", "data-toggle" => "popover", "data-placement"=>"bottom", :title => "Create New Client", :type => "button", "data-html"=>"true"} 
    New Client

%br
%table.table
  %tbody
    - @clients.each do |client|
      %tr
        %td
          %span.icon.icon-home
          %a{:href=>client_path(client)}
            = client.name



:javascript
  $(function () {
    $('.new-client-popover').popover({
      container: 'body'
    })
  })