%p#notice= notice
.pull-right
  %a.btn.btn-info{:href=>new_client_path}
    New Client
%h5 
  %span
    %a{:href=>root_path}
      Home
  %span  / Clients
%br
%table.table
  %tbody
    - @clients.each do |client|
      %tr
        %td
          %span.icon.icon-home
          %a{:href=>client_path(client)}
            = client.name
        %td= link_to 'Edit', edit_client_path(client)
        %td= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }