a, a:hover {
    color: inherit;
}

body{
    background-color:#C6CBCC;
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #9DC6D8;
    color:white;  
}

.sidebar > a{
    display:block;
    color:white;
}

.header-btn{
    font-size:24px;
}

td.right, th.right{
    text-align:right;
    padding-right:20px;
}

td#rc_last{
    width:18%;
}

td#rc_client{
    width:20%;
}

td#rc_server{
    width:20%;
}

td#rc_status{
    width:5%;
}

td#rc_options{
    width:5%;
}