a, a:hover {
    color: inherit;
}

body{
    background-color:#C6CBCC;
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #9DC6D8;
    color:white;  
}

.sidebar > a{
    display:block;
    color:white;
}

.header-btn{
    font-size:24px;
}

td.right, th.right{
    text-align:right;
    padding-right:20px;
}

td#rc_last{
    width:18%;
}

td#notes{
    width:20%;
}

td#rc_client{
    width:20%;
}

td#rc_server{
    width:15%;
}

td#rc_status{
    width:5%;
}

td#rc_options, th#rc_options{
    width:10%;
    text-align:center;
}

tr.row-success{
    background-color:#1fa67a;
    color:white;
}

.notes_in_place{
    color:black;
}

.notes_in_place_init{
    position:absolute;
}

.notes_in_place.form-control.form-control-sm, .c_server_in_place_inner{
    line-height:1;    
}

.notes_in_place_init.form-inline{
    width:100%;
}

%span.best_in_place_cname_wrapper{
    display:inline-block;
    width:100%;
}

.cname_in_place, .c_server_in_place{
    position:absolute;
}

.cname_in_place_inner{
    margin-top:-10px;
}

em.current {
    font-weight: 900;
    text-decoration: underline;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
   background-color:black;
}

.pretty th .desc {
   background-color:black;
}

.dropdown-item>span{
    display: block;
    height:100%;
    width:100%;
}

a.team_name, a.team_name:hover{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    text-decoration:none;
    display:block;
    width:100%;
    height:100%;
}

span.user_name{
    color:#e1edf3;
    display:block;
    font-size:18px;
}

.team_section{
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px 20px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.team_section:hover{
    background-color:#8db2c2;
}

.sidebar_section{
    padding: 10px 0;
}

.team_user_head{
    float:left;
    font-size:24px;
}