!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Malibux
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          =Time.now.strftime("%a | %b %d %Y")
          %hr
          .team_section
            .dropdown
              %a.team_name{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                Squeeze Tech
                %i.fa.fa-angle-down
              .dropdown-menu
                %a.dropdown-item{:href => "#"} Manage Your Team
                .dropdown-divider
                %a.dropdown-item{:href => destroy_user_session_path, :"data-method"=>"delete"} 
                  Logout
            %p.user_name
              %i.fa.fa-user
              Cherrie
          %hr
          %a{:href=>roll_calls_path}
            &#x23 My Backup Checks
          %hr
          %a{:href=>clients_path}
            &#x23 My Clients
          %a{:href=>servers_path}
            &#x23 List All My Servers
        .col-sm-9-col-sm-offset-3.col-md-10.col-md-offset-2
          = yield

:javascript
  $('.dropdown-toggle').dropdown()
